<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title></title>
</head>
<body>
<div th:insert="~{blocks/head::header}"></div>
<div>
    <table table class="table table-condensed table-striped">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>last name</th>
            <th>age</th>
            <th>email</th>
            <th>password</th>
            <th>role</th>
            <th>update</th>
            <th>delete</th>
        </tr>
        <tr th:each="user : ${users}">

            <td th:utext="${user.id}"></td>
            <td th:utext="${user.name}"></td>
            <td th:utext="${user.lastName}"></td>
            <td th:utext="${user.age}"></td>
            <td th:utext="${user.email}"></td>
            <td th:utext="${user.password}"></td>
            <td th:utext="${user.rolesString()}"></td>
            <td><a th:href="@{/admin/update(id=${user.id})}"/>update</td>
            <td><a th:href="@{/admin/delete(id=${user.id})}"/>delete</td>
        </tr>
    </table>
    <a href="new">new user</a>
    <br>
    <a th:href="@{/user/}">my page</a>
    <br>
    <a th:href="@{/logout}">logout</a>
</div>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</body>
</html>
