<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>

    <form th:method="POST" th:action="@{/admin/update(id=${user.getId()})}" th:object="${user}">
        <label for="name"> name: </label>
        <input type="text" th:field="*{name}" id="name">
        <label for="lastName"> last name: </label>
        <input type="text" th:field="*{lastName}" id="lastName">
        <label for="age"> age: </label>
        <input type="text" th:field="*{age}" id="age">
        <label for="email"> email: </label>
        <input type="text" th:field="*{email}" id="email">
        <label for="password"> password: </label>
        <input type="text" th:field="*{password}" id="password">

        <label for="roles">roles</label>
        <select required multiple class="form-control" th:name="selectRoles" id="roles">
            <option th:each="role: ${allRoles}"
                    th:value="${role.name}"
                    th:text="${role.toString()}"
                    th:selected="${user.roles.contains(role)}">
                role
            </option>
        </select>
        <input type="submit" value="update">

    </form>
</div>
</body>
</html>